## RENAME THIS FILE TO .env AND FILL OUT YOUR VARIABLES

## name of wifi interface to use (usually wlan0), find it by running sudo airmon-ng
INTERFACE=wlan0

## security testing target
BSSID=      # mac address
CLIENT=     # mac address
CHANNEL=    # 2.4 GHz channel (1-11) 
